#mapid {
    height: 700px;
    width: 100%;
}
#button_grand_wrapper{
    display: flex;
}
@media screen and (max-width: 640px)
{
    #button_grand_wrapper{
        display: block;
    }    
    #button_wrapper{
        display: inline-flex;
    }
}
