#img_profile_photo, #img_electric_terminal_photo, #photo_profil, #photo_borne { /* redimentionnement de l'image d'upload (dans la view myaccount) */
    width : 10rem;
    box-shadow: 1px 1px 2px 1px;

}
#img_profile_photo:hover, #img_electric_terminal_photo:hover, #photo_profil:hover, #photo_borne:hover { /* redimentionnement de l'image d'upload (dans la view myaccount) */
    box-shadow: 2px 2px 3px 1px;
    opacity: 0.7;
}
.input_style:hover {
    box-shadow: 0px 0px 3px 2px hsla(112, 70%, 60%);
}
.radio_style::before {
    border-radius: 50%;
    border-color: hsla(112, 70%, 60%);
}
.warning_born {
    color: hsla(112, 70%, 60%);
}
@media screen and (max-width: 640px)
{
    .bouton_resp {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
    }
}
